html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    background: grey;
    margin: 30px 50px;
    line-height: 1.4;
}

.fab {
    margin: auto;
}

.btn {
    background-color: black;
    color: seashell;
    padding: 0.6rem 1.3;
    text-decoration: none;
    border: none;
    text-align: center;
    border-radius: 11px;
}

.btn:hover {
    background: blanchedalmond;
    color: black;
}

img {
    max-width: 100%;
}

div.portfolio > img {
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

.site-nav ul {
   display: grid;
   grid-gap: 20px;
   padding: 0;
   list-style: none;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

ul.main-nav a {
    background: cadetblue;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-radius: 12px;
}

ul.main-nav a:hover {
    background: black;
    color: gray;
}

.topcontainer {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'showcase showcase top-box-a'
        'showcase showcase top-box-b'
        'showcase showcase top-box-c';
}

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(tidy-desk-3186167_1920.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.showcase h1, p {
    font-size: 4rem;
    margin-bottom: 0;
    color: white;
    margin: 0;
    text-align: end;
}


body footer p{
    font-size: 12px;
    color: black;
    display: block;
    margin: auto;
    text-align: center
}

.top-box {
    background: orange;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 12px;
}

.top-box-a {
   grid-area: top-box-a; 
}
.top-box-b {
    grid-area: top-box-b;
}
.top-box-c {
    grid-area: top-box-c;
}

.about-wrapper {
    background: cadetblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 3rem;
    border-radius: 12px;
    grid-gap: 21%;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 21px;
}

section.portfolio > div {
    background-color: orange;
    border-radius: 12px;
    text-align: center;
}

div.website-h1 {
    display: grid;
    background-color: orange;
    border-radius: 21px;
    text-align: center;
    font-size: 23px;
    padding: 0;
}

a {
    text-decoration: none;
}